<nav class="navbar navbar-expand-lg fixed-top navbar-light"  style="background-color: #e3f2fd;">
  <a class="navbar-brand" style="color: rgb(0, 0, 0);">{{this.logo}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      {{#each this.routes as |route|}}
      <li class="nav-item">
        <a class="nav-link text-decoration-none" style="text-transform: capitalize;"><LinkTo @route={{route}}>{{route}}</LinkTo></a>
      </li>
      {{/each}}
    </ul>
  </div>
</nav>
{{yield}}