<nav class="navbar navbar-expand-lg fixed-top navbar-light"  style="background-color: #e3f2fd;">
  <a class="navbar-brand" style="color: rgb(0, 0, 0);">Hanger</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link text-decoration-none"><LinkTo @route='home'> Home </LinkTo></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-decoration-none"><LinkTo @route='play'>Let's Play! </LinkTo></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-decoration-none"> <LinkTo @route="about">About</LinkTo></a>
      </li>
    </ul>
  </div>
</nav>
{{yield}}