   
    <div class="home-image">
        <div class="introduction">
            <div class="title">
                <h1>{{@titles}}</h1>
                <p>{{@by}}</p>
                <p class="description">
                    {{@description}}
                </p>
            </div>
        </div>
    </div>

